@charset "UTF-8";
body{
    color: #333;
    background-color: #fff;
    text-align: justify;
    line-height: 20px;
    font-family: 'Roboto', 'sans-serif' !important;
}
div.divlogo{
    padding: 10px 0px;
}
div.listthongbao ul{
    padding-top:10px;

}
div.listthongbao ul li{
    background-image: url(../images/bg_thongbao.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 35px;
    border: 0px;
    line-height: 28px;
    padding: 0px 0px 0px 35px;
}
div.listthongbao ul li a{
    font-weight: bold;
}

header, footer, hgroup,
nav, section {
    display: block;
}
div.listcategory ul
{
    padding:14px 0px 0px 0px;
    margin-left:13px;
    margin-bottom:0px;
}
div.listcategory ul.listParentCate li
{
    list-style-type:none;
    color:#0098DB;
    display:block;
    padding:7px 0px;

}
div.listcategory ul.listParentCate li a
{
    font-size:15px;
    display:block;
    line-height:25px;
    padding-left:3px;
    height:25px;
    border-left:4px solid #0AA888;
}
div.listcategory ul.listParentCate li.active a.active
{
    color:#ff0000;
}
div.listcategory ul.listParentCate > li:nth-child(4n+2) > a
{
    border-left:4px solid #6D9EBC;
}
div.listcategory ul.listParentCate > li:nth-child(4n+3) > a
{
    border-left:4px solid #057AB0;
}
div.listcategory ul.listParentCate > li:nth-child(4n+4) > a
{
    border-left:4px solid #7FB39B;
}
div.listcategory ul.listParentCate > li:nth-child(4n+5) > a
{
    border-left:4px solid #C67466
}
div.listcategory ul.listParentCate > li:nth-child(4n+6) > a
{
    border-left:4px solid #0AA888
}
div.listcategory ul.listParentCate li ul.dropdown-menu
{
    left:180px !important;
    top:0px;
    padding-left:10px;
}
div.listcategory ul.listParentCate li ul li ul,div.listcategory ul.listParentCate li ul li ul li ul,div.listcategory ul.listParentCate li ul li:hover ul li ul
{
    display:none;
}
div.listcategory ul.listParentCate li ul li:hover ul
{
    display:block;position:absolute;top:0px;left:180px;
    width:190px;
    background-color:#FFF;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
div.listcategory ul.listParentCate li ul li ul li:hover ul
{
    display:block;position:absolute;top:0px;left:170px;
    width:190px;
    background-color:#FFF;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
div.col-md-2 .tailen
{
    background-color: #00A888;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 10px;
    transition: box-shadow 0.5s ease 0s;
    color:#fff;
}
div.col-md-2 div
{padding:15px 0px;
}
div.col-md-2 a.naptien {
    background-color: #FA0;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 10px;
    transition: box-shadow 0.5s ease 0s;
}
div.info_user_cnt .title_user_info
{
    font-size:14px;
    color:#999;
    text-transform:uppercase;
    margin:10px 0px;
}
div.info_user_cnt div.user_result
{
    color:#333;
    font-size:18px;
    padding:10px 0px 10px 50px;
}

div.titsearch span
{
    padding:3px 7px;
}

div.danhsachtailieu
{
    margin:20px 0px;
}
.list .doc_cnt_img {
    float: left !important;
    width: 80px;
    height: 105px;
    margin: 18px 30px 18px 20px;
}
.list .doc_cnt_img img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1px #F0F0F0;
}
div.danhsachtailieu .left_item_doc {
    margin-top: -20px;
}
div.danhsachtailieu .doc_man_date {
    color: #999;
    font-size: 11px;
    position: relative;
    padding-left:0px;
    top: 27px;
}
.list .doc_tk_cnt {
    position: relative;
    top:30px;
}
.list .doc_tk_cnt .cl_price {
    color: #FB0;
    font-size: 11px;
    font-weight: 700;
}
.list .doc_tk_cnt {
    margin: 5px 15px 0px;
}
.list .doc_tk_cnt li {
    float: left;
    padding-right: 15px;
    font-size: 11px;
    color: #AAA;list-style: outside none none;
}
.list .icon_doc, .list .icon_down,.list .icon_view {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-right: 2px;
}
.list .icon_view {
    background-position: -12px -29px;
}
.list .icon_doc {
    background-position: 0px -29px;
    width: 14px !important;
}
.list .icon_down {
    background-position: -32px -29px;
    width: 14px !important;
}
.list .doc_man_hover
{
    position:relative;
    color:#999;
    top:70px;float:right;
}
div.danhsachtailieu .list_doc_man .doc_title_cnt {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 550px;
    margin: 20px 0px 0px;
    height: auto;
}
mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
}

footer {
    clear: both;
    background-color: #e2e2e2;

}
footer {
    text-align: left;
    height: auto;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
footer .col-md-4, footer .col-md-4 a,footer .col-md-4 h3,footer .col-md-4 div
{
    color:#0098DB;
}
div.row_footer .col-md-4 ul
{
    padding-left:15px;
}
div.row_footer .col-md-4
{
    color:#0098DB !important;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

#login a {
    background-color: #d3dce0;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

#login a.username {
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#login ul {
    margin: 0;
}

#login li {
    display: inline;
    list-style: none;
}


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #333;
    text-decoration: none;
}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

.featured .content-wrapper {

    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 {
    color: #fff;
}

.featured p {
    font-size: 1.1em;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.zero {
    background: url("../Images/orderedList0.png") no-repeat;
}

ol.round li.one {
    background: url("../Images/orderedList1.png") no-repeat;
}

ol.round li.two {
    background: url("../Images/orderedList2.png") no-repeat;
}

ol.round li.three {
    background: url("../Images/orderedList3.png") no-repeat;
}

ol.round li.four {
    background: url("../Images/orderedList4.png") no-repeat;
}

ol.round li.five {
    background: url("../Images/orderedList5.png") no-repeat;
}

ol.round li.six {
    background: url("../Images/orderedList6.png") no-repeat;
}

ol.round li.seven {
    background: url("../Images/orderedList7.png") no-repeat;
}

ol.round li.eight {
    background: url("../Images/orderedList8.png") no-repeat;
}

ol.round li.nine {
    background: url("../Images/orderedList9.png") no-repeat;
}
div.listtailieu div.site-title
{
    background-color: #efedee;
    border-top:2px solid #0098DB;
    padding:7px 0px 7px 20px;

}
div.listtailieu div.site-title h3
{
    color:#0098DB;
    text-transform:uppercase;

}
div.listtailieu ul.products
{
    margin:0px;padding:15px 0px 15px;
}
div.listtailieu ul.products li.product
{
    list-style-type:none;
    margin-bottom:25px;

}
div.listtailieu ul.products li.product div.doc-list
{
    border:1px solid #efedee;
}
div.listtailieu ul.products li.product div.doc-list .doc-img {
    width: 115px;
    height: 142px;
    margin: 5px auto 5px auto;
    position: relative;
    display:block;
}
div.listtailieu ul.products li.product div.doc-list .doc-img img
{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1px #F0F0F0;
}
div.listtailieu ul.products li.product div.doc-list .doc-title
{
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 15px 0px;
    line-height: 1.5;
    height: 3em;
    text-align: left;text-align:justify;
}
div.listtailieu ul.products li.product div.doc-list .doc-title .icon
{
    position:absolute;
    position: absolute;
    top: 15px;
    left: 25px;
    z-index: 9;
    width: 16px;
    height: 18px;
}
div.listtailieu ul.products li.product div.doc-list .doc-title .icon-doc-title
{
    background-image: url(../images/bg_icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
    background-position: 0px -360px;
}
div.listtailieu ul.products li.product div.doc-list .doc-author
{
    margin: 0px 15px;
    padding: 5px 0px;
    color:#73a302;
}
div.listtailieu ul.products li.product div.doc-list .doc_tk_cnt {
    margin: 5px 15px 0px;padding:0px;display:block;overflow:hidden;
}
div.listtailieu ul.products li.product div.doc-list .doc_tk_cnt li
{
    float: left;
    padding-right: 13px;
    font-size: 11px;
    color: #AAA;
    list-style-type:none;
}
i[class^="icon"] {
    background-image: url("../images/bg_icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
}
div.listtailieu ul.products li.product div.doc-list .doc_tk_cnt li .icon_doc {
    background-position: 0px -32px;
    width: 14px;
    height:18px;
}
div.listtailieu ul.products li.product div.doc-list .doc_tk_cnt li .icon_view {
    background-position: -12px -32px;
    width: 20px;
    height:15px;
}
div.listtailieu ul.products li.product div.doc-list .doc_tk_cnt li .icon_down {
    background-position: -32px -32px;
    width: 15px;
    height:15px;
}
div.total_doc_item_common
{
    padding:10px 0px;
}
div.col-md-3 h4.title-2
{
    color:#fff;
    font-size:20px;background-color:#0098DB;
    padding:10px 0px 10px 20px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
div.total_doc_item_common div.item_common
{
    margin:10px 0px;
}
div.total_doc_item_common a
{
    color:#222;
    display:block;text-align:left;font-size:13px;
}
div.total_doc_item_common a .i_type_doc
{
    width: 16px;
    height: 18px;

}
div.total_doc_item_common a .i_type_doc2
{
    background-position: 0px -378px;
}
div.total_doc_item_common a .i_type_doc1 {
    background-position: 0px -360px;
}
div.item_common .doc_tk_cnt {
    margin: 5px 15px 0px;padding:0px;display:block;overflow:hidden;
}
div.item_common .doc_tk_cnt li
{
    float: left;
    padding-right: 13px;
    font-size: 11px;
    color: #AAA;
    list-style-type:none;
}
div.item_common .doc_tk_cnt li .icon_doc {
    background-position: 0px -32px;
    width: 14px;
    height:18px;
}
div.item_common .doc_tk_cnt li .icon_view {
    background-position: -12px -32px;
    width: 20px;
    height:15px;
}
div.item_common .doc_tk_cnt li .icon_down {
    background-position: -32px -32px;
    width: 15px;
    height:15px;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    background: url("../Images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
}

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

#loginForm input {
    width: 250px;
}

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
    width: auto;
}

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

#socialLoginForm h2 {
    margin-bottom:  5px;
}

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {
    display: block;
    /*font-weight: 600;*/
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    /*margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;*/
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

@media screen and (max-width: 400px){
    div.col-md-8 table td
    {
        padding:1px;
        font-size:70%;
        font-weight:normal;
    }
    div.col-md-8 table td span strong
    {
        font-weight:normal;
    }
}
/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

th a {
    display: block;
    position: relative;
}

th a:link, th a:visited, th a:active, th a:hover {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
}

th a:hover {
    color: #000;
}

th.asc a, th.desc a {
    margin-right: .75em;
}

th.asc a:after, th.desc a:after {
    display: block;
    position: absolute;
    right: 0em;
    top: 0;
    font-size: 0.75em;
}

th.asc a:after {
    content: '▲';
}

th.desc a:after {
    content: '▼';
}

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

    #login ul {
        margin: 5px 0;
        padding: 0;
    }

    #login li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #login a {
        background: none;
        color: #999;
        font-weight: 600;
        margin: 2px;
        padding: 0;
    }

    #login a:hover {
        color: #333;
    }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul#menu li {
        margin: 0;
        padding: 0;
    }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

    ol.round li {
        padding-left: 10px;
        margin: 25px 0;
    }

    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine {
        background: none;
    }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

    section.feature img {
        color: #999;
        content: attr(alt);
        font-size: 1.5em;
        font-weight: 600;
    }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }


}


header {
    border-bottom: 1px solid #f4f4f4;
}

.m-p-0 {
    margin: 0px;
    padding: 0px;
}

.text-head {
    margin-top: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
}

.mid_content {
    margin-top: 15px;
    /*margin-top: 20px;*/
    /*margin-bottom: 25px;
    min-height: 300px;*/
}

.text-caps {
    text-transform: uppercase;
}

.text-white {
    color: #FFFFFF;
}

.text-theme {
    color: #CCCCCC;
}

.text-orange {
    color: #ee6a14 !important;
}

.text-13 {
    font-size: 13px;
}
/*top_nav work start*/
.top_nev {
    padding: 5px 0;
    background: #0098DB;
    color: #fff;
}

.top_nev ul {
    margin-bottom: 0px !important;
}

.top_nev ul li a {
    color: #333;
}

.top_nev ul li a:hover {
    color: #333;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/*top_nav work end*/

/*theme_navigation work start here*/
.theme_navigation {
    border-radius: 0px !important;
    border-top: none !important;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    background-image:url(../images/nav-bar.jpg);
    background-repeat:repeat-x;
    background-position:left top;
    min-height:42px;

}
div.navbar-login
{
    background-image:url(../images/bg_dangnhap.jpg);
    background-repeat:repeat-x;background-position:left top;
    line-height:37px;
    font-weight:bold;
    color:#0098DB;
}
div.navbar-login div.pull-right ul
{
    display:none;
}
div.navbar-login div.pull-right div:hover ul
{
    display:block;
    position:absolute;top:35px;right:0;text-align:left;
}
.navbar-form
{
    margin:4px 0px 0px 0px;
}
header .navbar-form div.form-group input
{

    padding:4px 5px 4px 8px;-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
}
header .navbar-form .btn
{
    margin-bottom:0px;
}
@media (min-width: 768px)
{

    #spanmobile
    {
        display:none;
    }

}
@media screen and (max-width: 768px)
{
    div.col_thongbao
    {
        display:none;
    }
    div.hotline
    {
        display:none;
    }
    div.tinthongbao
    {
        display:none;
    }
    #rowquangcao
    {
        display:none;
    }
    ul.navbar-nav
    {
        margin:7px 0px;
        overflow:hidden;
        background-color:#e6e6e6 !important;
        background: transparent linear-gradient(to bottom, #FFF 0%, #E6E6E6 100%) repeat scroll 0% 0% !important;
        z-index: 999;
        position: relative;
    }
}
div.tinthongbao
{

}
div.tinthongbao div.listthongbao
{
    padding-top:6px;
}
div.tinthongbao div.listthongbao ul li
{
    background-image:url(../images/vuong.jpg);
    background-repeat:no-repeat;
    background-position:left 8px;
    list-style-type:none;
    line-height:23px;
    padding-left:15px;
}
div.tinthongbao div.listthongbao ul li a
{font-weight:bold;
}
div.listhuongdan
{
    padding-bottom:15px;
}
div.listhuongdan ul
{
    padding-left:0px;
}
div.listhuongdan ul li
{
    list-style-type:none;
    background-image:url(../images/vuong-nho.jpg);
    background-position:left 12px;
    background-repeat:no-repeat;
    line-height:30px;
    padding-left:15px;
    border-bottom:1px solid #dddddd;
}
div.listhuongdan ul li a
{
    font-weight:bold;
    color:#000;
}
div.tinhuongdan div.panel-heading
{
    border:1px solid #ccc;
    border-radius:4px;
    margin-top:4px;
    margin-bottom:4px;
    background-color:#f4f4f4;
}
div.hotline
{
    padding-top:5px;
    width:200px;
}
span.phonehotline
{
    font-weight:bold;
    font-size:15px;
    color:#0f70b8;
}
footer
{
    background-image:url(../images/footer.jpg);
    background-position:center top;
    background-repeat:repeat-x;
}
.theme_navigation .navbar-brand:hover, .navbar-default .navbar-brand {
    color: #666666;
    height: 83px;

}

.theme_navigation .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #666666 !important;
}

.theme_navigation .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF !important;
    background: #0098db;
}

.theme_navigation .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #ca4c15;
}

.theme_navigation .dropdown-menu > li > a {
    padding: 3px 5px !important;
}

.theme_navigation .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle {
    background: #e75a1d !important;
    border: 1px solid #ce3f01;
}

.theme_navigation .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #e75a1d !important;
}

.theme_navigation.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none !important;
}

.theme_navigation .navbar-toggle {
    margin-top: 20px !important;
}
.theme_navigation .navbar-collapse
{
    padding-left:0px;padding-right:0px;
}
.theme_navigation .nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

.theme_navigation .nav > li > a {
    padding: 5px 10px !important;
    border-radius: 4px;
}

.navbar-nav > li > .theme_nav_dropdown {
    margin-top: 32px;
    border-top: medium none !important;
    background: linear-gradient(to bottom, #FFF 0%, #E6E6E6 100%) repeat scroll 0% 0% transparent;
}
ul.nav.navbar-nav li a
{
    color:#0098db;font-weight:bold;
}
ul.nav.navbar-nav li a.active {
    color: #FFF !important;
    background: none repeat scroll 0% 0% #0098db;
}
/*theme_navigation work end here*/

/*index page riht tab start*/
.theme_tab ul li {
    font-size: 16px;
    font-weight: bold;
}

.theme_tab .tab_body {
    border: 1px solid #d5d5d5;
    border-top: none;
    padding: 15px 15px 5px 15px;
    border-radius: 0px 0px 4px 4px;
    min-height: 265px;
}

.theme_tab.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}

.theme_tab.nav-tabs a {
    color: #F0F !important;
}

.index_right_part .titel {
    margin: 9px 0 13px 0;
    font-size: 18px;
    font-weight: bold;
    color: #0098db;
}

.index_right_part .panel-primary > .panel-heading {
    color: #5c5c5c;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fefefe 0%,#f1f1f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.index_right_part .panel-primary {
    border: 1px solid #d8d8d8 !important;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #d8d8d8;
}

.index_right_part .panel-primary > .panel-heading a {
    display: block;
    text-decoration: none;
}
/*index page riht tab end*/

/*company_logo_slider work strat*/
.company_logo_slider {
    margin: 0 0 15px 0;
}

.carousel-indicators .active {
    background: #fb824d;
}

.carousel-indicators li {
    border: 1px solid #DD4814;
}
.col-md-4 .carousel-control {
    margin: 0 2%;
    padding: 0 5px;
    top: 48%;
    background: #f25d1c;
    font-size: 14px;
    color: #FFFFFF;
    bottom: auto;
    width: auto;
    border-radius: 100px;
}
.carousel-control {
    margin: 0 2%;
    padding: 0 5px;
    top: 32%;
    background: #f25d1c;
    font-size: 14px;
    color: #FFFFFF;
    bottom: auto;
    width: auto;
    border-radius: 100px;
}
/*company_logo_slider work end*/

/*footer section work start*/
.foter_first {
    background-color: #e6e6e6;
    border-top: 8px solid #d6d0d0;
    padding: 10px 0 25px;
}
.foter_first ul li
{
    color: #0098de;
}
.foter_first h3 {
    color: #0098de;
}

.foter_first a {
    color: #fff;
}

.foter_first .box-style {
    margin-bottom: 2px;
    padding: 10px 15px;
    background: #FFF9F9;
    border: 2px solid #434343;
    border-radius: 8px;
}

.box-style li {
    margin-bottom: 15px;
}

.box-style li strong {
    color: #3d3d3d  !important;
    font-size: 16px;
}

.box-style li i {
    color: #999999;
}

.box-style li i.fa-facebook-square {
    color: #3d61b0;
}

.box-style li i.fa-twitter-square {
    color: #64c8e8;
}

.box-style li i.fa-linkedin-square {
    color: #02648e;
}

.box-style li i.fa-google-plus-square {
    color: #c53c2c;
}
div.form-group a.fa-facebook-square
{
    color:#fff;
    background-image:url(../images/bg_facebook.jpg);
    background-repeat:no-repeat;
    background-position:left top;padding:6px 0px 6px 40px;display:inline-block;width:195px;text-align:left;font-size:12px;
}

div.form-group a.fa-google-plus-square
{
    color:#fff;
    background-image:url(../images/bg_google.jpg);
    background-repeat:no-repeat;
    background-position:left top;padding:6px 0px 6px 40px;display:inline-block;width:195px;text-align:left;font-size:12px;
}
div.uploadtailieu
{
    background-color:#fff;
    height:200px;
    text-align:center;
    border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
}
.foter_bottom {
    background: #262626 none repeat scroll 0 0;
    border-top: 2px solid #262626;
    box-shadow: 0 8px 8px #141414 inset;

}

.footer_nav {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2a2a2a 0%, #3d3d3d 46%, #3d3d3d 48%, #3d3d3d 100%) repeat scroll 0 0;
    border-bottom: 1px solid #747474;
    color: #999999;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;

}

.footer_nav a {
    color: #fff;
}

.footer_nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out 0.2s;
}

.foter_bottom ul li {
    font-size: 16px;
}

.foter_bottom ul li a {
    color: #CCCCCC;
    font-size: 14px;
}

.foter_bottom ul li a:hover {
    color: #FFFFFF;
    transition: all 0.2s ease-in-out 0.2s;
}
/*footer section work end*/

/*this css use for coupon start here*/
.coupon_head_text {
    margin-bottom: 14px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #CCCCCC;
    font-size: 20px;
}

.coupon_head_text a {
    color: #dd4814;
    text-decoration: none;
}

.coupon_outer {
    margin-bottom: 15px;
    padding-bottom: 13px; /*background:url(../img/screenshot_shadow.png) no-repeat bottom center;*/
    background-size: 100%;
}

.coupon {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #FFFFFF;
    height: 220px;
    overflow: hidden;
}

.coupon:hover {
    box-shadow: 0px -2px 4px #dddddd;
    transition: all 0.2s ease-in-out 0.2s;
}

.coupon .head {
    padding: 8px;
    border-bottom: 1px solid #d5d5d5;
    height: 65px;
    overflow: hidden;
}

.coupon .head img {
    margin: 0 auto;
}

.coupon .body {
    padding: 8px;
    height: 125px;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}

.coupon .body p {
    padding-bottom: 5px;
}

.coupon .body div.button {
    bottom: 10px;
    position: absolute;
    text-align: 0px;
    width: 93.5%;
}

.coupon .bottom {
    padding: 4px 8px;
    height: 28px;
    background: #f2f0f0;
}

.coupon a:hover {
    text-decoration: none;
}
/*this css use for coupon start end*/

#signin .modal-title {
    color: #fff;
}

#forgotyourpassword .modal-title {
    color: #fff;
}
#remoteModal .modal-title {
    color: #fff;
}
/*cms_box_row start*/
.cms_box_row {
    margin-top: 15px;
}

.cms_box_row .panel {
    height: 250px;
    position: relative;
}

.cms_box_row .panel .panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.cms_box_row a {
    color: #aea79f;
}

.cms_box_row a:hover {
    color: #4f4e4d;
    text-decoration: none;
}
/*cms_box_row end*/

.page_titel {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    color: #666666;
    border-bottom: 1px dashed #CCCCCC;
}

/*responsive work start*/
@media (max-width: 640px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .theme_tab ul li {
        font-size: 14px;
    }

    .index_right_part .titel {
        margin: 30px 0 15px 0;
    }
}

@media (max-width: 480px) {
    .theme_tab ul li {
        font-size: 12px;
    }
}
/*responsive work end*/

.tab_body .form-group {
    margin-bottom: 10px;
}

#navbar-main .navbar-nav > li {
    margin-left: 5px !important;
}

.wrap_img {
    display: block;
    overflow: hidden;
    position: relative;
    height: 150px;
}

.wrap_img img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.coupon small {
    background: #1D9C73;
    color: #fff;
    display: block;
    padding: 4px;
    font-size: 11px;
}

.coupon small a {
    color: #fff;
    font-weight: bold;
}

.coupon h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    display: block;
    background: #f2f2f2;
    padding: 5px;
}

.coupon h4 a {
    color: #333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

.copyrightft {
    display: block;
    text-align: center;
    padding: 10px;
    font-size:11px;
}

.modal-dialog {
    margin: 50px auto;
}

.panel-body .form-group {
    margin-bottom: 10px;
}

.btn-spec {
    background-color: #8bc53f;
    border-color: #8AC142;
}

.btn-spec:hover, .btn-spec:focus {
    color: #ffffff;
    background-color: #A2DA58 !important;
    border-color: #8AC142 !important;
}

.btn-user {
    color: #ffffff !important;
    background-color: #8bc53f;
    border-color: #8AC142;
}

.btn-user:hover, .btn-spec:focus {
    color: #ffffff !important;
    background-color: #A2DA58 !important;
    border-color: #8AC142 !important;
}

.red {
    color: #e96656 !important;
}

.red, .green, .blue, .yellow {
    transition: all 0.2s ease-in-out 0s;
}

.white {
    color: #fff !important;
}

.alert-danger {
    color: #000;
    background-color: #f2dede;
    border-color: #F50505;
}

.alert {
    display: none;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.fa-lg {
    font-size: 1.7em;
    line-height: 25px;
    vertical-align: -15%;
    color: #F50505;
}

.errorClass {
    border: 1px solid #FF1604 !important;
}

.asterisk_input:after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 0px 0px 0px 5px;
    font-size: 22px;
    padding: 0px 5px 0 0;
}

ul#mini-nav {
    padding: 0;
    list-style-type: none;
}

ul#mini-nav .dropdown-menu {
    padding: 10px;
    min-width: 280px;
    float: left;
    position: absolute;
    right: 0 !important;
    top: 40px;
    left: inherit;
    border: none;
    border-top: 3px solid #5fa9d9;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

ul#mini-nav .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 12px;
    border-bottom: 7px solid #5fa9d9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

ul#mini-nav li.list-box {
    position: relative;
    cursor: pointer;
    margin-left: 7px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}

ul.server-activity li {
    padding: 6px 0px;
    border-bottom: 1px solid #F2F2F2;
}

ul.server-activity li:last-child {
    border-bottom: 0 none;
}

.money-info-label {
    float: left;
    width: 150px;
    line-height: 25px;
    color: #333;
}

.money-info-content {
    line-height: 25px;
    color: #333;
}

#money-info {
    padding: 2px 5px;
}

/*start css form dropdownlist multi*/
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}


.left {
    float: left !important;
}

.boxdrpmega {
    width: 100%;
    position: relative;
}

.boxdrpmega h3 {
    margin-top: 0px;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 700;
    text-align: center;
}

.txt {
    color: #909090 !important;
    font-style: italic;
    font-size: 14px;
    padding: 5px 10px;
}

.boxdrpmega .dropDownListArrow {
    display: block;
    float: right;
    position: absolute;
    margin-top: 0px;
    width: 32px;
    height: 30px;
    background-position: 0 0;
    background-color: none;
    background-repeat: none;
    right: 5px;
    top: 2px;
}

.boxdrpmega .dropDownListArrow:hover {
    cursor: pointer;
}

.boxdrpmega .dropDownListArrow.up {
    background-image: url(/images/nut3-up.png);
}

.boxdrpmega .dropDownListArrow.down {
    background-image: url(/images/nut3-down.png);
}


.boxdrpmega .dropDownList {
    border: 1px solid #CBCCCA;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #666666;
    display: none;
    margin-top: 1px;
    min-width: 320px;
    padding: 7px 10px;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.boxdrpmega .dropDownList table {
    margin-top: 0;
}

.boxdrpmega .dropDownList table td {
    vertical-align: top;
    padding: 2px 8px;
}

.boxdrpmega .dropDownList table td.last {
    border: none;
}

.boxdrpmega .dropDownList .separator {
    display: block;
    height: 1px;
    margin: 4px 0;
    border-bottom: 1px solid #ddd;
}

.boxdrpmega .dropDownList ul {
    list-style: none;
    float: left !important;
}

.boxdrpmega .dropDownList ul li {
    border: 1px solid #ddd;
    margin-bottom: 6px;
    padding: 4px;
    float: left !important;
    width: 90px;
    height: 40px;
}

.boxdrpmega .dropDownList ul input {
    float: left;
    margin-top: 10px;
}

.boxdrpmega .dropDownList ul img {
    width: 60px;
    margin-left: 6px;
}
/*end css dropdownlist multi*/

.table-responsive {
    overflow-x: hidden !important;
}

.error {
    border: 1px solid #b94a48 !important;
    background-color: #fee !important;
}

.label-danger {
    background-color: #d9534f;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.tooltip > .tooltip-inner {
    background-color: #BD2323;
}

.tooltip .tooltip-arrow {
    border-top: 5px solid #BD2323 !important;
}

.tooltip-inner {
    max-width: 350px;
}

#buycardpreviewmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}

#naptiendienthoaipreviewmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}


#napgamepreviewmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}



.bold {
    font-weight: bold;
}

.dropDownList .ctrlpaycardbtn {
    display: block;
    height: 31px;
    width: 108px;
    margin-top: 5px;
    background: url(/images/paycard.gif) 0 0 no-repeat;
}

.dropDownList .ctrlpaycardbtn:hover {
    background: url(/images/paycard.gif) 0 -32px no-repeat;
}

.edituserinfo {
    cursor: pointer;
    color: #3b5998;
    position: relative;
}

.edituserinfo .fa-pencil {
    display: none;
}

.edituserinfo:hover .fa-pencil {
    display: inline;
    font-size: 14px;
    text-decoration: none;
}

.asterisk_input:after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 4px 0px 0px 5px;
    font-size: 22px;
    padding: 0px 5px 0 0;
}

#boxLoading {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/images/overlay.png') repeat 0 0;
    z-index: 100000;
}

.boxLoading {
    /*display : none;*/
    background: url('/images/preloader.gif') no-repeat 12px 8px #000000;
    color: white;
    font-size: 11px;
    height: 35px;
    left: 50%;
    line-height: 20px;
    margin: -20px 0 0 -45px;
    padding: 8px;
    position: fixed;
    text-align: left;
    text-indent: 30px;
    top: 50%;
    width: 100px;
    z-index: 100001;
    opacity: 0.8;
    filter: alpha(opacity=0.8);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.txt {
    /* style declaration here */
    background-color: #fff !important;
}

.txtcon {
    font-weight: bold;
    padding: 6px 12px 6px 0px;
}

#Confirm_OrderDetail .form-group {
    margin-left: 0px;
}

#gachtheshowresultmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}

#buycardshowresultmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}

#naptiendienthoairesultmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}

#napgameshowresultmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}

#topupmobieshowresultmodal .panel-primary > .panel-heading {
    color: #000;
    background-color: #fff !important;
    padding: 10px 15px 0 15px;
    border: none;
}
.panel {
    border: 1px solid #ddd;
}

.alertx {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
    display: table;
    width: 100%;
    padding: 20px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}

.alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.modal-title {
    color: #DD4814;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
}

.modalbottom {
    margin: 30px 0 10px 0;
}

.panel-body table.no-border {
    border: 0;
    width: 100%;
}

.panel-body table .no-border th {
    border-left: 0;
    background: #f8f8f8;
    padding: 7px;
    font-size: 13px;
    border-bottom: 1px solid #dadada;
}

.panel-body table.no-border tr td:first-child {
    border-left: 0;
}

.panel-body table .no-border-y td {
    border-left: 0;
}

.panel-body table .no-border-x td {
    border-bottom: 0;
}

.panel-body table tbody td {
    padding: 7px 8px;
    font-size: 12px;
}

.panel-body table td {
    border-bottom: 1px solid #dadada;
    padding: 7px 8px;
}

.panel-body table tr:nth-child(2n) {
    background: #f8f8f8;
}

.media:first-child {
    margin-top: 0;
}

.media {
    margin-top: 15px;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.news_items {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.news_items:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.news_items .thumbnail {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #f9f9f9;
    width: 200px;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.news_items .thumbnail img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.news_items .media-heading {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 7px;
}

.news_items .media-heading a {
    color: #222;
}

.news_items .media-heading a:hover {
    color: #e91b23;
}

.news_items .news_excerpt {
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
}

.news_items .box-meta {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.non_pd_r {
    padding-right: 0;
}

.news-content {
    padding: 5px 10px 10px 0px;
    min-height: 400px;
}

.news-content .article {
    padding-top: 5px;
    line-height: 20px;
    font-size: 12px;
}

.news-content .article .pTitle, .article .pHead {
    display: none;
}

.news-content .article .pAuthor {
    text-align: right;
    font-weight: bold;
}

.news-content .article p {
    margin-bottom: 10px;
    line-height: 20px;
}

.news-content .article table {
    margin: auto;
}

.news-content .article .pCaption {
    font-style: italic;
    text-align: center;
}

.news-content .article .pAuthor {
    font-weight: bold;
}

.news-content .article .adate {
    margin: 0;
    margin: 3px 0 5px 0;
    color: #666;
    font-size: 11px;
}

.news-content .article, .relate-link, .dt-comment {
    padding-bottom: 10px;
}

.news-content .article .subtitle {
    font-weight: bold;
    font-style: italic;
}

.news-content .article .title {
    font: 18px arial;
    display: block;
    line-height: 25px;
}

.news-content .article .title-2 {
    padding: 10px 0;
    font-weight: bold;
}

.news-content .article .sample-image {
    float: left;
    width: 270px;
    margin-right: 10px;
}

.news-content .article .sample-image img {
    margin-bottom: 5px;
}

.news-content .article .sample-image span {
    font-size: 11px;
}

.news-content .article .quote {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #6CB6FF;
    background: #CEE7FF;
    margin: 5px;
    text-align: justify;
}

.news-content .article .sapo {
    font-weight: bold;
}

.news-content .article .author {
    display: block;
    float: right;
    color: #666;
    padding: 10px 0;
    font-weight: bold;
    text-align: right;
}

.news-content .article-link {
    padding: 10px 0;
}

.news-content .article-link li {
    padding: 2px 0;
    list-style-type: circle;
    list-style-position: inside;
}

.news-content .article-link li a {
    line-height: 20px;
    color: #005399;
}

.news-content .tag {
    background: #EBEBEB;
    padding: 5px;
    margin-bottom: 10px;
}

.news-content .tag p {
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-right: 12px;
}

.news-content .link-title-info {
    overflow: hidden;
    background: #f5fafe;
    border: 1px #ccc solid;
    padding: 5px 5px;
    clear: both;
    margin-bottom: 10px;
    border-left: 0;
    border-right: 0;
}

.news-content .relate-link {
    padding: 0 0 10px 0;
}

.news-content .relate-link span {
    padding: 10px 0 0 10px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.news-content .relate-link ul {
    margin-left: 20px;
}

.news-content .relate-link li {
    padding: 2px 0;
    list-style-type: circle;
    list-style-position: inside;
}

.news-content .relate-link li a {
    color: #333;
    line-height: 20px;
}


#tuvan {
    background: #f8f6f6;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #e5e5e5 inset;
    padding: 5px 10px 3px 10px;
    margin: 0 0 20px 0;
}
#tuvan h3{color:#0098db; }


#tuvan .tittle {
}

#tuvan .tittle span {
    color: #F60;
}

ul.tuvan-ol {
    margin-left: -30px;
}

ul.tuvan-ol li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    width: 100%;
}

ul.tuvan-ol li img {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}


.form-content {
    /*background-color: #d8f0fa;*/
    color: white;
    padding: 10px 20px 4px 20px;
    min-height: 280px;
    border: 1px solid #E4EAEC;
    margin-bottom: 20px;
}

.form-content-y {
    /*background-color: #d8f0fa;*/
    padding: 10px 20px 4px 20px;
    border: 1px solid #E4EAEC;
}

.section-title {
    height: 37px !important;
    line-height: 37px !important;
    text-align: center;
    font-weight: bold !important;
    font-size: 18px !important;
    color: #fff !important;
    background: #0098db;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 5px;
}

.form-content .form-group {
    margin-bottom: 10px !important;
}

.bg-lable1 {
    background: #0098db;
}

.bg-lable2 {
    background: #73a302;
}

.bg-lable3 {
    background: #ff6600;
}

.bg2 {
    background: #e9f1d9;
}

.bg1 {
    background: #d8f0fa;
}

.bg3 {
    background: #ffe8d8;
}

.heightNaptientudong {
    min-height: 230px;
}

.bgLable {
    color: black;
}

.panel-body .boxNew h1 a {
    border-bottom: 2px dotted #808080;
    padding-bottom: 4px;
}

.fb700 {
    font-weight: 700;
}

.textCASE {
    text-transform: uppercase;
}

.fz16 {
    font-size: 16px !important;
}

.left {
    float: left !important;
}

.list-news li {
    background: url(../images/icon-li-s.jpg) 0px 11px no-repeat;
    font-weight: bold;
    padding: 4px 0px 5px 12px;
    width: 100%;
    color: #0099dc;
    border-bottom: 1px solid #d9d8d7;
}

.btn-spec1 {
    color: #fff;
    background-color: #0098db;
    border: solid #3eadd6 1px;
}

.h60 {
    height: 60px;
}

.h45 {
    height: 45px;
}

.divbt {
    bottom: 20px;
    position: absolute;
    width: 225px;
    width: 100%;
    padding-right: 73px !important;
}

.btnc {
    display: inline-block;
    padding: 1px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.classWithPad {
    margin-left: 20px;
}

.container-DV {
    width: 98% !important;
    line-height: 24px;
}

.mT5 {
    margin-top: 5px;
}

.TCoin .form-horizontal .control-label {
    text-align: left;
    font-weight: 700;
}

.noteTCoin {
    text-align: center;
    margin: 20px 30px 10px 10px !important;
}

.mGb15 {
    margin-bottom: 15px !important;
}

.TCoin .input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.supportsky img {
    margin: 2px 0 0 0 !important;
}

.supportsky span {
    margin-left: 10px;
}

.supportyahoo img {
    padding-left: 30px;
    margin-top: -2px !important;
}

#modalinfo .modal-header span {
    font-size: 18px;
    font-weight: 700;
}

#modalinfo .modal-body p {
    text-align: center;
}

/*.marquee1 {
    line-height: 35px;
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    color: #F60;
}*/
.addres {
    line-height: 25px;
    color: #0098de ;
}
.addres li a { color:#0098de}
.marquee1 {
    color: #F60;
}

a {
    text-decoration: none;
}
.top_nev small{line-height:20px;}

.content_mobile {
    background: #fff;
    overflow: hidden;
    width: 100%;
}

.ul_service {
    overflow: hidden;
    list-style-type: none;
    margin: 0px 0px 10px;
    padding: 10px;
    display: block;
}

.ul_service li {
    display: block;
    overflow: hidden;
    margin: 0px 0px 5px;
    text-align: center;
}

.ul_service li a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
    display: block;
    color: #fff;
}

.ul_service .sv_1 a {
    background: #0081c5;
}

.ul_service .sv_2 a {
    background: #5fba51;
}

.ul_service .sv_3 a {
    background: #f58634;
}

.ul_service .sv_4 a {
    background: #e05649;
}

.ul_service .sv_5 a {
    background: #63c2ee;
}

.ul_service .sv_6 a {
    background: #63c2ee;
}

.ul_service .sv_7 a {
    background: #0098DB;
}

.ul_service .sv_8 a {
    background: #63C2EE;
}

@media (min-width:1200px) {
    #rowmaincontent {display: block;}
    #maintopcontent {display: block;}
    .content_mobile {display: none;}
    .head-full{display: block;}
    .head-sum{display: none;}
}

@media (min-width:980px) and (max-width:1199px) {
    #rowmaincontent {display: block;}
    #maintopcontent {display: block;}
    .content_mobile {display: none;}
    .head-full{display: block;}
    .head-sum{display: none;}
}

@media (min-width:768px) and (max-width:979px) {
    #rowmaincontent {display: none;}
    #maintopcontent {display: none;}
    .content_mobile {display: block;}
    #footerquydinh {display: none;}
    #footercocial {display: none;}
    .footer_nav{display: none;}
    .head-full{display: none;}
    .head-sum{display: block;}
}

@media (max-width:768px) {
    #rowmaincontent {display: none;}
    #maintopcontent {display: none;}
    .content_mobile {display: block;}
    #footerquydinh {display: none;}
    #footercocial {display: none;}
    .footer_nav{display: none;}
    .head-full{display: none;}
    .head-sum{display: block;}
}


.form-contentx {
    background-color: #ecedef;
    color: white;
    padding: 10px 20px 4px 20px;
    border: 1px solid #E4EAEC;
    margin-bottom: 20px;
}

.bg-lable5 {
    background: #63C2EE;
}
.bg5 {background: #d8f0fa; }

.btn-green {
    background: #82c34d;
}
.btn-orange {
    background: #f58634;
}
.section-title-mobile {
    height: 37px !important;
    line-height: 37px !important;
    text-align: center;
    font-weight: bold !important;
    font-size: 15px !important;
    color: #fff !important;
    text-transform: uppercase;
}
.form-contentx .btn {
    text-transform: uppercase;
    font: bold 13px arial;
    padding: 10px 12px !important;
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.btn { margin-bottom: 5px; }

.table-bordered-blue {
    border: 1px solid #0098db !important;
}
.table-bordered-blue th, .table-bordered-blue td {
    border-left: 1px solid #0098db !important;
    border-bottom: 1px solid #0098db !important;
    border-right: 1px solid #0098db !important;

    min-height: 24px;
}
.bg-lable1 {
    background: #0098db !important;
}
.textCASE {
    text-transform: uppercase;
}
.fb {
    font-weight: bold !important;
}
.fz13 {
    font-size: 13px !important;
}
.clfff {
    color: #fff !important;
}

.table-bordered-green {
    border: 1px solid #73a302;
}
.table-bordered-green th, .table-bordered-green td {
    border-left: 1px solid #73a302 !important;
    border-bottom: 1px solid #73a302 !important;
    border-right: 1px solid #73a302 !important;

    min-height: 24px;
}
.bg-lable2 {
    background: #73a302 !important;
}

fieldset.userinfo-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}