.mid_content {
    margin-top: 0;
}
h1.title {
    font-weight: 300;
    text-transform: uppercase;
}
.account-page {
    background-color: rgba(247, 247, 247, 0.36);
}
section#content-account {
    background-color: white;
    box-shadow: 0 2px 2px 0 #e8e8e8;
}
aside#sidebar-account {
    margin-top: 60px;
}
aside .listcategory ul li {
    display: block;
    margin-bottom: 5px;
    border: solid 1px #c2c5cb;
    border-radius: 4px;
}
aside .listcategory ul li:hover,aside .listcategory ul li:active, aside .listcategory ul li.active {
    background-color: #0098DB;
    cursor: pointer;
    border: solid 1px white;
}
aside .listcategory ul li:hover a,aside .listcategory ul li:active a, aside .listcategory ul li.active a {
    color: white;
    font-weight: 500;
}
aside .listcategory ul li a{
    line-height: 35px;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    display: block;
}

div.titsearch {
    border:1px solid #ccc;
    margin: 0;
    padding:10px 5px;
}
.titsearch .search {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    text-indent: 5px;
}
#content-account .titsearch div {
    text-align: center;
    line-height: 35px;
}
.danhsachtailieu div.doc-item {
    margin-left: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #c2c5cb;
}
.danhsachtailieu .doc-item-image {margin-left: 15px}
.danhsachtailieu .doc-item-date, .danhsachtailieu .doc-item-more {margin-top: 15px}
.danhsachtailieu .doc-item-more ul {padding: 0}
.danhsachtailieu .doc-item-more ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.danhsachtailieu .doc-item-more ul li i {margin-right: 5px}
.danhsachtailieu .doc-item-date, .danhsachtailieu .doc-item-more {
    font-size: 12px;
    color:  #999;
}
.danhsachtailieu .doc-item-more ul li .cl_price {
    color: #fb0;
    font-weight: 500;
}
.danhsachtailieu .doc-item-image {
    height: 120px;
}
.danhsachtailieu .doc-item-image img{
    height: 100%;
    width: 100%;
}
.danhsachtailieu div.doc-item:last-of-type {border-bottom: none}

div.account_balance .title_bal
{
    font-size: 13px;
    color: #999;
    padding: 0;
    position: relative;
    text-transform:uppercase;
    display: inline-block;
}
div.account_balance .number_money_bal {
    font-size: 25px;
    color: #FB0;
    display: inline-block;
    padding: 0;
}
div.account_balance .send_bal {
    color: #00A888;
    font-size: 11px;
    border: 1px solid #00A888;
    display: inline-block;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 20px 0px 0px;
}
#edit-user .edit-group {
    border-bottom: solid 1px #c2c5cb;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#edit-user .edit-group:last-of-type {border-bottom: none;}
#edit-user .title {margin: 10px 0;}
#edit-user .text-uppercase {
    font-size: 17px;
    color: #999;
}
#edit-user div.edit {
    line-height: 35px;
    margin-bottom: 5px;
}

#show-name {
    font-size: 25px;
    font-weight: 400;
}
#edit-user a:hover, #edit-user a:focus {color: #0098DB;}
.statistic-page form>div>label, .statistic-page form>div>input {
    display: inline-block;
    line-height: 35px;
}
.statistic-page form>div>label {
    margin-right: 10px;
    margin-bottom:  0;
    top: 3px;
}
.statistic-page form>div {
    text-align: center;
}

.statistic-page form input[name=datefilter], .statistic-page form input[type=submit] {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    text-indent: 5px;
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    width: 100%;
    padding: 0;
    text-align: center;
}
.statistic-page form input[name=datefilter]:after{
    content: "\f073";
}
.statistic-page form input[type=submit] {
    text-indent: 0;
}
.statistic-page form input[type=submit]:hover {
    color: white;
    font-weight: 500;
    background-color: #0098DB;
}
#statistic-filter {
    margin: 15px auto;
}
.dropzone {
    border: 3px dashed rgba(0, 0, 0, 0.3) !important;
}
.update-info form {
    padding: 0 15px;
    margin: 20px auto;
}
.table-cell {
    line-height: 35px;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.table>div>h2, .table>div>button {
    display: inline-block;
}
.table>div>h2.subtitle {
    color: #0F98CC;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}
.table>div>button {
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 2px #e8e8e8;
    -moz-box-shadow: 0px 2px 2px 2px #e8e8e8;
    -webkit-box-shadow: 0px 2px 2px 2px #e8e8e8;
}
form#edit-user button[type="submit"], form#edit-user input.add-bank {
    border-radius: 3px;
    border: none;
    font-size: 15px;
    color: white;
    background: #0F98CC;
    padding: 10px;
}
form#edit-user button[type="submit"]:hover, form#edit-user input.add-bank:hover {
    background: #27a9cc;
}
.table input.info, .table input.bank-info {
    font-size: 14px;
    color: #000000;
    border: none;
    width: 100%;
}
.table input.edit-field {
    border: 1px solid #0F98CC;
    border-radius: 3px;
    padding: 5px;
}

